@model LoginUser

<form asp-action="ProcessLogin" asp-controller="User" method="POST">
    <h2>Login</h2>
    <div class="login-form">
        <div class="form-group">
            <label asp-for="LoginUsername"></label><br>
            <input asp-for="LoginUsername"><br>
            <span class="text-danger" asp-validation-for="LoginUsername"></span>
        </div>

        <div class="form-group">
            <label asp-for="LoginPassword"></label><br>
            <input asp-for="LoginPassword"><br>
            <span class="text-danger" asp-validation-for="LoginPassword"></span>
        </div>
    </div>
    <button class="btn btn-primary">Log In</button>
</form>